:root {
    --grey01: #8E908A;
    --grey02: #C1C1C1;
    --grey03: #8E908A;
    --grey05: #D8E1E3;
    --grey06: #F7F8FD;
    --accent03: #F3B440;
    --inkw03: #E1ECF4;



    --wWhite01: #E7F8F2;
    --wWhite02: #C9E5D9;
    --wWhite03: #ACCDBD;
    --wWhite04: #92B6A4;
    --wWhite05: #779B88;

    --wPrimary01: #5B7A69;
    --wPrimary02: #415C4E;
    --wPrimary03: #2E4237;
    --wPrimary04: #203328;
    --wPrimary05: #112218;

    --wBlack01: #0C1A11;
    --wBlack02: #06120A;
    --wBlack03: #050E08;
    --wBlack04: #020904;
    --wBlack05: #010502;








    /* PRIMARY */
    --primary01: #052213;
    --primary02: #6FCF97;
    --primary03: #49af74;
  
    /* INK */
    /* --ink01: #165937;
    --ink02: #6FCF97;
    --ink03: #052213; */
  
    /* SECONDART */
    --secondary01: #6eaade;
    --secondary02: #4db2ec;
    --secondary03: #4db2ec;
  
    /* TERTIARY */
    --tertiary01: #f1ab96;
    --tertiary02: #e95572;
    --tertiary03: #e95572;
  
    /* ACCENT */
    --accent01: #d0c573;
    --accent02: #e9c638;
    --accent03: #e9c638;
  
    /* GREEN */
    --green01: #6FB866;
    --green02: #165937;
    --green03: #0b3520;
  
    /* BLUE */
    --blue01: #AAE2F4;
    --blue02: #45AFE2;
    --blue03: #3E93D6;
  
    --yellow01: #FED259;
    --yellow02: #FED259;
    --yellow03: #FED259;
  
    --orange01: #FFDBB0;
    --orange02: #FFBF44;
    --orange03: #FFBF44;
  
    --purple01: #DFD7FF;
    --purple02: #E3A9FF;
    --purple03: #E3A9FF;
  
    --red01: #F97C58;
    --red02: #EC4010;
    --red03: #EC4010;
  
  
    --texture: url('../assets/style/background/solid/neumad_background_solid-pattern.png') repeat;
  
  
  
    --work01: #43F53F;
    --work02: #295528;
    --work03: #0A2D09;
  
    --dine01: #AAE2F4;
    --dine02: #45AFE2;
    --dine03: #3E93D6;
  
    --unwind01: #FED259;
    --unwind02: #FED259;
    --unwind03: #FED259;
  
    --stores01: #FF5361;
    --stores02: #FF5361;
    --stores03: #FF5361;
  
    --series01: #F97C58;
    --series02: #EC4010;
    --series03: #EC4010;
  
    --map01: #F97C58;
    --map02: #EC4010;
    --map03: #EC4010;
    
    --dine01: #FCE57E;
    --dine02: #FCE57E;
    --dine03: #FCE57E;
  
  
  
  
    /* --white01: #FDFDFD;
    --white02: #FDFDFD;
    --white03: #E9E9E9;
    --black01: #202521;
    --black02: #192721;
    --grey01: #F2F4EB;
    --grey02: #E2E6E0;
    --grey03: #D7DCD7;
    --grey04: #41414388;
    --grey05: #4141438b;
    --grey06: #41414324;
    --orange: #ffa238; */


}








.inkw03 {
    color: var(--inkw03) !important;
    border-color: var(--inkw03) !important;
}

.grey01 {
    color: var(--grey01) !important;
    border-color: var(--grey01) !important;
}
.grey02 {
    color: var(--grey02) !important;
    border-color: var(--grey02) !important;
}
.grey03 {
    color: var(--grey03) !important;
    border-color: var(--grey03) !important;
}
.grey04 {
    color: var(--grey04) !important;
    border-color: var(--grey04) !important;
}
.grey05 {
    color: var(--grey05) !important;
    border-color: var(--grey05) !important;
}
.grey06 {
    color: var(--grey06) !important;
    border-color: var(--grey06) !important;
}


.wWhite03 {
    color: var(--wWhite03) !important;
}
.wPrimary03 {
    color: var(--wPrimary03) !important;
}
.wPrimary04 {
    color: var(--wPrimary04) !important;
}
.wBlack03 {
    color: var(--wBlack03) !important;
}
.accent03 {
    color: var(--accent03) !important;
}