.loading {
    background-color: red;
}



.blog-img-loader {
    height: 9rem;
    background-color: var(--green02);
    /* height: 100%; */
}

.blog-title-text-loader {
    height: 1em;
    background-color: var(--green02);
}
