body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* The Modal (background) */
  .bottom-sheet {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .bottom-sheet-content {
    position: fixed;
    margin: 90px;
    border-radius: 30px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    /*   max-height: 90vh; */
    overflow: auto;
    height: -webkit-fill-available;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    background-color: #fefefe;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .bottom-sheet-header {
    padding: 2px 15px;
    height: 50px;
    background-color: #5cb85c;
    color: white;
    flex-shrink: 0;
  }
  
  .bottom-sheet-footer {
    padding: 2px 15px;
    background-color: #5cb85c;
    color: white;
    flex-shrink: 0;
  }
  
  .bottom-sheet-body {
    padding: 2px 16px;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
  }
  
  /* The Close Button */
  .bottom-sheet-close {
    color: white;
    float: right;
    font-size: 25px;
    font-weight: bold;
  }
  
  .bottom-sheet-close:hover,
  .bottom-sheet-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  