.tags {
  padding: 0px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  width: 100%;
  /* align-items: flex-start; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.tags .container{
  width: fit-content;
}

.tags .container.container-left, .tags .container-left {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 6px;
  left:0;
}

.tags .container.container-right, .tags .container-right {
  right:0;
  width: fit-content;
  padding: 1.5px 0px 1.5px 0px;
}


/* NEUSTAR */
.neustar-tag,
.neustar-tag * {
  box-sizing: border-box;
}
.neustar-tag .neustar-tag {
  padding: 2.05px 0px 0.95px 0px;
  display: flex;
  flex-direction: row;
  gap: 1.5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.neustar-tag .neustar-tag-label {
  background: var(--stroke-grey, #ebebeb);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--ink-white-03, #d3d8dc);
  border-width: 1px;
  padding: 1.5px 4.5px 1.5px 4.5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.neustar-tag .score {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.neustar-tag .stars {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  position: relative;
}
.neustar-tag .neustar {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.neustar-tag .neustar-gold {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.neustar-tag .neumad-brand-logomark {
  width: 12px;
  height: 12px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  overflow: visible;
}
.neustar-tag .neustar-gold-mid {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.neustar-tag .neustar-gold2 {
  width: 12px;
  height: 12px;
  /* position: absolute; */
  left: -1.35px;
  top: 1.76px;
  transform-origin: 0 0;
  transform: rotate(-15deg) scale(1, 1);
}
.neustar-tag .neumad-brand-logomark2 {
  width: 12px;
  height: 12px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  overflow: visible;
}
.neustar-tag .neumad-brand-logomark3 {
  width: 12px;
  height: 12px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  overflow: visible;
}





/* RATING */
.tag-rating,
.tag-rating * {
  box-sizing: border-box;
}
.tag-rating .tag-rating {
  padding: 2.05px 0px 0.95px 0px;
  display: flex;
  flex-direction: row;
  gap: 1.5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag-rating .label {
  background: var(--stroke-grey, #ebebeb);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--ink-white-03, #d3d8dc);
  border-width: 1px;
  padding: 1.5px 3px 1.5px 4.5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag-rating .score {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag-rating ._3-33 {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  position: relative;
}
.tag-rating .glyph-rating-star {
  flex-shrink: 0;
  width: 12.62px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.tag-rating .number-parentheses {
  padding: 0px 0px 0px 1.5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag-rating .div {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 12px;
  line-height: 13.5px;
  font-weight: 700;
  position: relative;
}
.tag-rating ._111 {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  position: relative;
}







/* TAG TYPE */
.tag-type,
.tag-type * {
  box-sizing: border-box;
}
.tag-type .tag-type {
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
}
.tag-type .label {
  padding: 2.05px 0px 0.95px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tag-type .label-item {
  background: var(--ink-black-03, #272727);
  border-radius: 333px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 1.5px 4.5px 1.5px 4.5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.tag-type .coffee-shop {
  color: var(--ink-white-03, #d3d8dc);
  text-align: left;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  position: relative;
  width: 71px;
}


















.metatag,
.metatag * {
  box-sizing: border-box;
}
.metatag .metatag {
  padding: 2.05px 0px 0.95px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 18px;
  position: relative;
}
.metatag .label {
  background: var(--stroke-grey, #ebebeb);
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.metatag .text-03 {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  position: relative;
}
.metatag .number-parentheses {
  padding: 0px 0px 0px 1.5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.metatag .div {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 12px;
  line-height: 13.5px;
  font-weight: 500;
  position: relative;
}
.metatag ._111 {
  color: #373a42;
  text-align: left;
  font-family: "HelveticaNeue-Medium", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  position: relative;
}
