<section class="section service">
    <div class="header">
        <div class="headline">
            <div class="coffee-shop">Service</div>
        </div>
    </div>

    <div class="media-lineup">
        <div class="media-lineup">
            <div class="eyebrow">
                <div class="text">
                    <div class="area">Area</div>
                </div>
                <div class="button-more">
                    <div class="see-all-0">See all (0)</div>
                </div>
            </div>
            <div class="top">
                <div class="media-img-m">
                    <div class="media-img">
                        <div class="media-img-1-x-1-x-m"></div>
                    </div>
                    <div class="text2">
                        <div class="caption-container">
                            <div class="icon-container">
                                <div class="icon-container2"></div>
                            </div>
                            <div class="text3">
                                <div class="title">
                                    <div class="text-line">01</div>
                                </div>
                                <div class="subtitle">
                                    <div class="text-line-copy-here">Outside</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-img-m">
                    <div class="media-img">
                        <div class="media-img-1-x-1-x-m"></div>
                    </div>
                    <div class="text2">
                        <div class="caption-container">
                            <div class="icon-container">
                                <div class="icon-container2"></div>
                            </div>
                            <div class="text3">
                                <div class="title">
                                    <div class="text-line">01</div>
                                </div>
                                <div class="subtitle">
                                    <div class="text-line-copy-here">Outside</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-img-m">
                    <div class="media-img">
                        <div class="media-img-1-x-1-x-m"></div>
                    </div>
                    <div class="text2">
                        <div class="caption-container">
                            <div class="icon-container">
                                <div class="icon-container2"></div>
                            </div>
                            <div class="text3">
                                <div class="title">
                                    <div class="text-line">01</div>
                                </div>
                                <div class="subtitle">
                                    <div class="text-line-copy-here">Outside</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overview">
        <div class="title2">
            <span class="what-to-expect">What to Expect</span>
        </div>
        <div class="body-collapsable">
            <div class="body">
                <span
                    class="the-seating-arrangement-of-the-facility-is-thoughtfully-arranged-to-embraced-the-shared-space-in-order-to-create-an-environment-similar-to-a-school-yard-during-lunch-break-the-seating-arrangement-of-the-facility-is-thoughtfully-arranged-to-embraced-the-shared-space-in-order-to-create-an-environment-similar-to-a-school-yard-during-lunch-break-fdsfsdfd">
                    The seating arrangement of the facility is thoughtfully arranged to
                    embraced the shared space in order to create an environment similar to
                    a school yard during lunch break. The seating arrangement of the
                    facility is thoughtfully arranged to embraced the shared space in
                    order to create an environment similar to a school yard during lunch
                    break.
                    <br />
                    fdsfsdfd
                </span>
            </div>
            <div class="button-more2">
                <img class="show-more" src="show-more0.png" />
            </div>
        </div>
    </div>
    <div class="summary-one-col">
        <div class="summary-container">
            <div class="title3">
                <div class="frame-1321321852">
                    <div class="summary">Summary</div>
                </div>
            </div>
            <div class="frame-22399">
                <div class="item">
                    <div class="icon"></div>
                    <div class="bullets">
                        <div class="title4">
                            <div class="title5">Title</div>
                        </div>
                        <div class="subtitle2">
                            <div class="subtitle3">subtitle</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon"></div>
                    <div class="bullets">
                        <div class="title4">
                            <div class="title5">Title</div>
                        </div>
                        <div class="subtitle2">
                            <div class="subtitle3">subtitle</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon"></div>
                    <div class="bullets">
                        <div class="title4">
                            <div class="title5">Title</div>
                        </div>
                        <div class="subtitle2">
                            <div class="subtitle3">subtitle</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon"></div>
                    <div class="bullets">
                        <div class="title4">
                            <div class="title5">Title</div>
                        </div>
                        <div class="subtitle2">
                            <div class="subtitle3">subtitle</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon"></div>
                    <div class="bullets">
                        <div class="title4">
                            <div class="title5">Title</div>
                        </div>
                        <div class="subtitle2">
                            <div class="subtitle3">subtitle</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta">
                <button class="cta-popup">
                    <div class="search-field">
                        <div class="cta-popup2">cta-popup</div>
                        <div class="glyph-container"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>