
/* Details */
/* .blog-detail {
  max-width: 125rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  gap: 2rem;
} */





/* ———ARTICLE——— */
.blog-detail {
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 800px 1fr; */
    gap: 1rem;
}
@media (max-width: 1200px) {
    .blog-detail {
      grid-template-columns: 1fr;
      /* max-width: 800px; */
      gap: 0;
    }
  }
  
.article-container {
    background-color: var(--white01);
    /* padding: 7.5%; */
    /* padding: 2rem; */
    /* border: 1px solid #ddd; */
}

  /* ———ARTICLE TITLE——— */
.article-headline {
  display: grid;
  gap: var(--s01);
  padding-top: var(--s06);
  padding-bottom: var(--s06);
  grid-template-columns: 60% 20%;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 1fr 800px 1fr; */
  gap: 1rem;
}

.article-header {
    /* font-size: var(--text05_D);
    font-weight: 500; */
    display: flex;
    flex-direction: column;
    gap: var(--s03);
    margin-bottom: 1rem;
    color: var(--black01);
}

.article-info {
    display: flex;
    flex-direction: column;
    gap: var(--s03);
    justify-content: flex-start;
  }


.article-title {
    /* font-size: var(--text05_D);
    font-weight: 500; */
    /* margin-bottom: 1rem; */
    color: var(--black01);
}
  
  /* ———ARTICLE BODY——— */
  .article-body {
    /* padding-top: 7.5%;
    padding-bottom: 7.5%; */
    /* max-width: 30%; */
    /* margin: 0 auto;
    display: grid;
    font-size: var(--text03_D); */
    /* grid-template-columns: 1fr 800px 1fr; */
    /* gap: 1rem; */
  }
  
.article-body {
    display: grid;
    gap: var(--s01);
    padding-top: var(--s06);
    padding-bottom: var(--s06);
    grid-template-columns: 60% 20%;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 800px 1fr; */
    gap: 1rem;  
}



  .article-content {
    /* padding-top: 7.5%; */
    padding-bottom: 7.5%;
    /* max-width: 30%; */
    margin: 0 auto;
    display: grid;
    /* font-size: var(--text03_D); */
    /* grid-template-columns: 1fr 800px 1fr; */
    gap: 1rem;
  }

  /* .article-container .content p {
    line-height: 1.2;
    font-size: var(--text05);
    margin-bottom: 1rem;
    color: var(--black01);
  } */

  
  
  
  /* ———ARTICLE HEADER——— */
  .article-container .top {
    text-align: center;
  }
  
  .article-container .fullBleedContent {
    /* position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100vw; */
  }
  
  .fullBleedContentHeader {
    /* height: 100vh; */
    height: 18rem;
    overflow: hidden;
    margin-bottom: 7px;
  }
  
  .fullBleedContentHeaderContainer {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100vw;
  }
  
  .article-container .featured-image {
    width: 100%;
    height: 18rem;
    /* padding-bottom: var(--s06); */
    /* margin: 3rem 0; */
    /* border-radius: 1rem; */
    overflow: hidden;
  }
  
  .article-container .featured-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .article-container .top h1 {
    margin-bottom: 1rem;
    color: var(--black01);
  }
  
  .article-container .top .info {
    justify-content: center;
  }
  
  .article-container .top .info span:first-child {
    margin-right: 15px;
  }
  
  .article-container .top .info span {
    color: var(--grey02);
  }
  
  .article-container .top .info span i {
    margin-right: 5px;
  }  
  
  .article-container .content .content-img {
    /* max-width: 55rem; */
    /* max-width: 60%; */
    width: 100%;
    height: 40rem;
    margin: 3rem auto;
  }
  
  .article-container .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-container .content h4 {
    font-size: var(--text04);
    margin-bottom: 2rem;
  }
  
  






  /* AUTHOR */
  .article-author { 
    display: flex;
    flex-direction: row;
    gap: var(--s01);
  }