.icon-search {
    background: url('images/icon/icon_search.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-close {
    background: url('images/icon/icon_close.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-plus {
    background: url('images/icon/icon_plus.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-hamburger {
    background: url('images/icon/icon_hamburger.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-Work {
    background: url('images/icon/icon_work.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-Unwind {
    background: url('images/icon/icon_unwind.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-Dine {
    background: url('images/icon/icon_dine.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-Shorts {
    background: url('images/icon/icon_shorts.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
/* Other styles here */
}

.icon-Places {
    background: url('images/icon/icon_places.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}

.icon-Series {
    background: url('images/icon/icon_series.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    /* Other styles here */
}


.icon-Stars {
    background: url('images/icon/icon_stars.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}

.icon-Reviews {
    background: url('images/icon/icon_stars.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}






/* NEUSTAR */
.icon-Neustar-0of4 {
    background: url('_assets/icon/neustar/icon_Neustar-0of4.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}

.icon-Neustar-1of4 {
    background: url('_assets/icon/neustar/icon_Neustar-0of4.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}

.icon-Neustar-2of4 {
    background: url('_assets/icon/neustar/icon_Neustar-0of4.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}

.icon-Neustar-3of4 {
    background: url('_assets/icon/neustar/icon_Neustar-0of4.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}

.icon-Neustar-4of4 {
    background: url('_assets/icon/neustar/icon_Neustar-0of4.svg') no-repeat;
    height: 12px;
    width: 12px;
    display: block;
    color: var(--white01);
}
/* NEUSTAR */









/* WEATHER */
.icon-weather-default {
    background: url('images/icon/weather/icon-weather-default.svg') no-repeat;
    height: 15px;
    width: 15px;
    display: block;
    color: var(--white01);
}










/* CUSTOM MAP MARKER */
.icon-mapMarker {
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/_brand/symbol/map/neumad-mapMarker-favicon-green.svg);
  }
  
  .icon-mapMarker-userLocation {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/_brand/symbol/map/neumad-mapMarker-favicon-green.svg);
  }
  
  .icon-mapMarker-Dine {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/icon/map/markers/icon-mapMarker-dine.svg);
  }
  
  .icon-mapMarker-Place {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/icon/map/markers/icon-mapMarker-places.svg);
  }

  .icon-mapMarker-Review {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/icon/map/markers/icon-mapMarker-reviews.svg);
  }
  
  .icon-mapMarker-Unwind {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/icon/map/markers/icon-mapMarker-unwind.svg);
  }
  
  .icon-mapMarker-Work {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/icon/map/markers/icon-mapMarker-work.svg);
  }

    
  .icon-mapMarker-Rest {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(_assets/icon/map/markers/icon-mapMarker-rest.svg);
  }


  /* CUSTOM MAP MARKER */
  
  