.primary-featured-blog {
    /* height: 21rem; */
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s03);
}

.primary-featured-blog-layout {
    /* display: grid; */
    /* grid-template-columns: 1fr, 1.1fr, 1.2fr, 1.3fr; */
    /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
    /* gap: var(--s03); */
    /* align-items: flex-start; */
    /* height: 50vh; */
    width: 100vw;
    /* background-color: orange; */
    padding-bottom: var(--s06);
  }

  .primary-featured-blog .primary-featured-blog-text {
    /* padding: 1.5rem; */
    z-index: 2;
    position: absolute;
    bottom: 0;
    padding-top: var(--s03);
    padding-right: var(--s03);
    width: 49%;
    /* font-size: var(--text01_D); */
    display: grid;
    gap: var(--s03);
    align-items: flex-start;
    background-color: var(--white01);
}
  
  
  .primary-featured-blog {
    background-color: var(--white01);
    transition: all 300ms ease-out;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s03); */
    align-items: flex-start;
 
  }
  
  .primary-featured-blog:hover {
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  }
  
  .primary-featured-blog-img {
    /* margin: 1.5rem 1.5rem 0; */
    height: 18rem;
    width: 100%;
    height: 0 auto;
  }
  
  .primary-featured-blog .primary-featured-blog-img img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .primary-featured-blog-section-text {
    font-size: var(--text01_D);
    text-transform: uppercase;
    color: var(--grey01);
  }
  
  .primary-featured-blog .primary-featured-blog-text .primary-featured-blog-header {
    margin-bottom: var(--s03);
    color: var(--black01);
    display: flex;
    flex-direction: row;
    /* font-size: var(--text03_D);
    font-weight: 500; */
    /* height: 60px; */
  }

  .primary-featured-blog-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--s03);
  }

  .primary-featured-blog-title-text {
    /* margin-bottom: var(--s03); */
    color: var(--black01);
    font-size: var(--text04_D);
    font-weight: 900;
    text-transform: capitalize;
    /* height: 60px; */
  }

  .primary-featured-blog-overview-text {
    color: var(--black01);
    /* font-size: var(--text03_D); */
    font-weight: 500;
  }
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .primary-featured-blog .author {
    margin-top: 1rem;
  }
  
  .primary-featured-blog .author-image {
    border-radius: 50%;
    overflow: hidden;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
  }
  
  .primary-featured-blog .author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .primary-featured-blog .author {
    font-size: var(--text01_D);
  }
  
  @media (max-width: 567px) {
    .primary-featured-blog .primary-featured-blog-text .primary-featured-blog-title {
      height: 50px;
      font-size: var(--text01_M);
    }
  
    .ad {
      margin: 1rem auto;
      height: 10rem;
    }
  
    .ad a img {
      object-fit: contain;
    }
  
    .primary-featured-blog .primary-featured-blog-img {
        height: 18rem;
    }
  }
  