 /* NAV tags */
 .nav-tags {
  border-top: 1px solid var(--grey01);
  display: block;
  width: 100%;
}

.nav-tags-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--s03);
}

.nav-tags-menu {
  display: block;
  border-bottom: 1px solid var(--grey01);
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;

}

.nav-tags-list {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: var(--s03);
  padding: 5px 0 4px;
  margin: 0 20px;
}

.nav-tags-flex {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.nav-tags-list li:not(:last-child) {

}

.nav-tags-list li a span {
  display: inline-block;
  /* color: var(--ink03); */
  font-weight: 500;
  transition: color 300ms ease-out;
}

.nav-tags-list-divider {
  height: 10px;
  color: var(--grey03);
}

.nav-tags-list li a:hover {
  color: var(--primary01);
}


.blog-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--s02);
  }

.tag-collection {
    display: flex;
    /* flex-wrap: wrap; */
    gap: var(--s03);
    align-items: center;
    max-width: 210px;
  }
  
.section-tag {
    /* margin-right: var(--s03); */
    /* background-color: var(--primary01); */
    border-radius: 33px;
    outline-width: 2px;
    outline-style: solid;
    font-size: var(--text01_D);
    letter-spacing: var(--tracking01_D);
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--s03);
    background: var(--texture);
  }
  .section-tag:hover {

  }

  .section-tag-icon {
    height: 12px;
    width: 12px;

  }

  span.section-tag-divider {
    height: 9px;
    /* background-color: var(--grey03); */
  }

  .section-tag-text {
    font-weight: bold;
    letter-spacing: 0.06rem;
  }

  .metadata-tag-text {
    font-weight: bold;
    letter-spacing: 0.06rem;
  }

  #Work {
    outline-color: var(--ink03);
    background-color: var(--white01);
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--ink03);
  }
  #Work:hover {
    outline-color: var(--ink03);
    background-color: var(--work02);
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--white01);
  }
  #Work:active {
    background-color: var(--work03);
    background: var(--texture);
    outline-color: var(--ink03);
    color: var(--white03);
  }
  #Dine {
    outline-color: var(--ink03);
    background-color: var(--white01);
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--ink03);
  }
  #Dine:hover {
    background-color: var(--blue02);
  }
  #Dine:active {
    background-color: var(--blue03);
  }
  #Unwind {
    outline-color: var(--ink03);
    background-color: var(--white01);
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--ink03);
  }
  #Unwind:hover {
    background-color: var(--yellow02);
  }
  #Unwind:active {
    background-color: var(--yellow03);
  }
  #Shorts {
    outline-color: var(--ink03);
    background-color: var(--white01);
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--ink03);
  }
  #Shorts:hover {
    background-color: var(--purple02);
  }
  #Shorts:active {
    background-color: var(--purple03);
  }
  #Series {
    outline-color: var(--ink03);
    background-color: var(--white01);
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--ink03);
  }
  #Series:hover {
    background-color: var(--red02);
  }
  #Series:active {
    background-color: var(--red03);
  }







  /* TAG */

  .featured-blog-data-container {
    display: flex;
    flex-direction: row;
    gap: var(--s02);
  }

  .metadata-tag {
    /* margin-right: var(--s03); */
    background-color: var(--white03);
    border-radius: 33px;
    font-size: var(--text01_D);
    letter-spacing: var(--tracking03_D);
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 6px;
  }

  .data-time {
    display: inline-block;
    /* line-height: 1rem; */
    /* padding: 0.5rem 1rem; */
    padding: 3px 6px;
  }
    /* 
  .data-time-text {
    color: var(--black02);
    font-size: var(--text01_D);
    font-weight: 500;
    letter-spacing: var(--tracking03_D);
    text-transform: uppercase;
  } */


  .data-time-text {
    color: var(--black02);
    font-weight: bold;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
  }
  
  .featured-blog .date {
    font-size: var(--text01_D);
    color: var(--grey01);
  }
