.navDine-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--s03);
  }


/* REPORT BAR NAV  */
.navDine-reportBar {
    /* height: 15px; */
    width: 100vw;
    color: var(--black01);
    background-color: var(--primary01);
}

.navDine-reportBar-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: var(--s03);
    align-items: center;
    /* padding: 0 3%; */
    margin: 0 auto;
    /* max-width: 1200px; */
}

.navDine-reportBar-content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: var(--s03);
    align-items: center;
    padding: var(--s02) 3%;
    margin: auto;
    font-weight: bold;
    /* max-width: 1200px; */
}



  /* BRAND NAV  */
  .navDine-mid {
    display: block;
    position: relative;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0;
    width: 100%;
    /* height: 0; */
    /* transform: translateY(38px); */
    align-items: flex-end;
  }

  .navDine-mid-left {
    display: flex;
    flex-direction: column;
    gap: var(--s01);
    text-align: left;
    align-items: flex-start;
  }

  .navDine-mid-right {
    display: flex;
    flex-direction: column;
    gap: var(--s01);
    text-align: right;
    align-items: flex-end;
  }

  .navDine-brand-logo {
    font-size: var(--display03);
    height: 16px;
  }

  .navDine-brand .navDine-brand-logo img {
    color: var(--black02);
    font-size: var(--text02_D);
    height: 16px;
    margin: 1.5px auto;
  }





  /* PRIMARY NAV */
  .navDine-primary {
    border-top: 1px solid rgb(235, 235, 235);
    display: block;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
    width: 100%;
  }

  .navDine-primary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    gap: var(--s03);
  }

  .navDine-primary-menu {
    /* border-top: 1px solid rgb(235, 235, 235); */
    display: block;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    /* max-width: 1200px; */
  }
  
  .navDine-hamburger {
    display: block;
    color: var(--black01);
    font-size: var(--text04);
    cursor: pointer;
  }

  /* .navDine-list {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0 4px;
    margin: 0 20px;
  } */

  .navDine-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 80%;
    height: 100%;
    background-color: var(--white);
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    transition: all 500ms ease-out;
  }

  .navDine-list li:not(:last-child) {
    margin-right: 0.5rem;
  }

  .navDine-list.show {
    left:0;
  }
  
  .navDine-list li a {
    display: inline-block;
    color: var(--white);
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: color 300ms ease-out;
  }
  

  .navDine-flex {
    /* margin: 0 60px; */
    margin: 0px;
    display: flex;
    flex-direction: row;
  }
  
  .navDine-list li:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .navDine-list li a span {
    display: inline-block;
    color: var(--black02);
    /* font-size: var(--text01_D); */
    /* line-height: 1rem; */
    /* padding: 0.5rem 1rem; */
    font-weight: 500;
    transition: color 300ms ease-out;
  }

  .navDine-list-divider {
    height: 10px;
    color: var(--grey03);
  }
  
  .navDine-list li a:hover {
    color: var(--primary01);
  }
  
  @media (max-width: 567px) {
    .navDine-list {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      max-width: 80%;
      height: 100%;
      background-color: var(--white01);
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 0;
      transition: all 500ms ease-out;
    }
  
    .navDine-list.show {
      left: 0;
    }
  
    .navDine-logo {
      font-size: var(--display03);
    }
  
    .navDine-list li:not(:last-child) {
      margin-right: 0;
    }
  
    .navDine-list li {
      margin: 0 0 0.5rem;
      display: block;
      width: 100%;
    }
  
    .navDine-list li a {
      color: var(--black01);
      font-size: var(--text01_D);
      width: 100%;
    }
  
    .navDine-hamburger {
      display: block;
      color: var(--white01);
      font-size: var(--text04);
      cursor: pointer;
    }
  }