/* Lists */
.glyph-check-15 {
  background: url('./../assets/glyph/check/glyph-check15.svg') no-repeat;
  height: 18px;
  width: 18px;
  bottom: 0px;
  background-position-y: inherit;
  display: block;
  /* Other styles here */
}


/* Ratings */
.glyph-rating-star15 {
  background: url('./../assets/glyph/rating/glyph-rating-star15.svg') no-repeat;
  height: 15px;
  width: 9px;
  bottom: 0px;
  background-position-y: inherit;
  display: block;
  /* Other styles here */
}